.block--dish-select {
    font-size: var(--fs-15);

    background-color: var(--clr-neutral-100);

    width: 100%;

    display: flex;
    justify-content: space-between;

    border-radius: 1em;

    overflow-x: hidden;

    box-shadow: 0px 4px 15px var(--clr-boxshadow);

    /**/
    position: relative;

    /**/

    .box--name-details {
        min-inline-size: 0;
    }
    .name, .details {
        display: block;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
    }
    .name {
        font-size: var(--fs-18);
    }
    .details {
        font-weight: var(--fw-light);
        margin-top: 5px;
    }
    .price {
        font-weight: var(--fw-bold);
        align-self: end;
    }
    .custom-checkbox {
        background-color: var(--clr-accent-100);

        width: 60px;

        align-self: stretch;
        display: grid;
        place-items: center;

        margin-right: -60px;

        transition-duration: 500ms;
        transition-property: margin-right;
        transition-timing-function: ease-out;
    }
    .check-icon {
        background-color: var(--clr-neutral-100);
        color: var(--clr-accent-100);
    }

    .info {
        width: 100%;

        display: flex;
        justify-content: space-between;

        padding-block: 12px;
        padding-inline: 15px;

        min-width: 0;
    }

    .dish {
        min-width: 0;
    }

    input:checked ~ .custom-checkbox {
        margin-right: 0px;
    }

    .check-icon {
        width: 1.25em;
        height: 1.25em;
        border-radius: 50%;
        background-color: white;
        color: #99E2D0;
        display: grid;
        align-items: center;
        justify-content: center;
    }
}