@for $j from 1 through 3 {
    fieldset:nth-of-type(#{$j}) {
        --currIndex: calc(3 * (#{$j} - 1));
    }
}
@for $i from 1 through 9 {
    .block--dish-select:nth-of-type(#{$i})::after {
        --anim-delay: calc(0.2s * (#{$i} + var(--currIndex)));
    }
}

.block--dish-select {
    font-size: var(--fs-15);

    background-color: var(--clr-neutral-100);

    width: 100%;

    display: flex;
    justify-content: space-between;

    border-radius: 1em;

    overflow-x: hidden;

    box-shadow: 0px 4px 15px var(--clr-boxshadow);

    /**/
    position: relative;

    &::after {
        content: "";
        --clr-reveal: transparent;
        --clr-background: lightgrey;
        --clr-ray: white;
        position: absolute;
        /* il est nécessaire de spécifier une couleur à ce stade autrement le contenu du label (ainsi que la checkbox) sont visibles au tout début */
        /* le background-color est redéfini à transparent durant l'animation "reveal" */
        background-color: var(--clr-background);
        background-image: linear-gradient(65deg, var(--clr-reveal) 0%, var(--clr-reveal) 10%, var(--clr-ray) 10%, var(--clr-ray) 13%, var(--clr-background) 15%, var(--clr-background) 50%, var(--clr-background) 62%, var(--clr-ray) 64%, var(--clr-background) 80%);
        /* attention il risque d'y avoir un léger bug d'affichage sur les écrans de toute petite largeur (< 320 pixels) lorsque le check est visible il faudra alors encore augmenter la largeur de l'arrière-plan */
        /* je mets 100% pour la hauteur car j'ai l'impression que ça avait un léger impact sur les performances (est à auto par défaut) à vérifier */
        background-size: 1100% 100%;
        inset: 0;
        animation: loading 1.6s 0.5s 2 forwards, reveal 1.6s calc(3.2s + var(--anim-delay)) forwards;
    }

    @keyframes loading {
        from {
            background-position-x: 100%;
        }
        
        to {
            background-position-x: 45%;
        }
    }

    @keyframes reveal {
        from {
            background-position-x: 45%;
            background-color: transparent;
        }
        
        to {
            background-position: 0%;
            background-color: transparent;
        }
    }

    /**/

    .box--name-details {
        min-inline-size: 0;
    }
    .name, .details {
        display: block;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
    }
    .name {
        font-size: var(--fs-18);
    }
    .details {
        font-weight: var(--fw-light);
        margin-top: 5px;
    }
    .price {
        font-weight: var(--fw-bold);
        align-self: end;
    }
    .custom-checkbox {
        background-color: var(--clr-accent-100);

        width: 60px;

        align-self: stretch;
        display: grid;
        place-items: center;

        margin-right: -60px;

        transition-duration: 500ms;
        transition-property: margin-right;
        transition-timing-function: ease-out;
    }
    .check-icon {
        background-color: var(--clr-neutral-100);
        color: var(--clr-accent-100);
    }

    .info {
        width: 100%;

        display: flex;
        justify-content: space-between;

        padding-block: 12px;
        padding-inline: 15px;

        min-width: 0;
    }

    .dish {
        min-width: 0;
    }

    input:checked ~ .custom-checkbox {
        margin-right: 0px;
    }

    .check-icon {
        width: 1.25em;
        height: 1.25em;
        border-radius: 50%;
        background-color: white;
        color: #99E2D0;
        display: grid;
        align-items: center;
        justify-content: center;
    }
}