.block--dish {
    font-size: var(--fs-15);

    .name {
        font-size: var(--fs-18);
    }
    .details {
        font-weight: var(--fw-light);
    }
    .price {
        font-weight: var(--fw-bold);
    }
}