.block--restaurant-info {
    background-color: var(--clr-neutral-100);

    border-radius: 1.6em;
    overflow: hidden;

    /* c'est la largeur sur la maquette (version desktop) */
    width: 100%;
    margin-inline: auto;

    /* pour le positionnement du coeur et du tag optionnel « Nouveau » */
    position: relative;

    a {
        color: inherit;
    }

    img {
        height: 174px;
    }    

    a[data-tag="new"]::before {
        content: "Nouveau";
        font-size: var(--fs-14); /* 14 pixels */

        color: var(--clr-txt-tag);
        background-color: var(--clr-accent-100);

        position: absolute;
        padding-block: 0.45em; /* ~ 29 px for 14px*/
        padding-inline: 0.9em; /* ~ 80 px for 14px */

        top: var(--fs-15);
        right: var(--fs-15);
    }

    .text-block {
        padding: 1em;

        .name, .location {
            margin-block: 0;
        }

        .location {
            margin-top: 5px;

            font-size: var(--fs-17);
            font-weight: var(--fw-light);
        }

        .name {
            font-size: var(--fs-18);
            font-weight: var(--fw-bold);
        }
    }

    .comp--like-icon {
        position: absolute;

        position: absolute;
        bottom: 2em;
        right: 1em;
        /*
            TODO : voir pour créer des variables CSS afin de gérer la taille du label
            indépendamment de la taille de l'icône (la taille du label représente la surface
            cliquable/touchable, les WCAG recommande 44 px minimum pour la largeur comme pour la
            hauteur, la maquette demande à ce que l'icône fasse 22 pixels de largeur comme de
            hauteur.

            Pour le moment la taille du label détermine celle de l'icône (voir 4-comps/_like-icon.scss).
        */
        width: 22px;
        height: 22px;
    }
}

.name--large {
    font-family: 'Shrikhand', serif;
    font-size: var(--fs-28);
}