.block--restaurant-info {
    background-color: var(--clr-neutral-100);

    .location {
        font-size: var(--fs-17);
        font-weight: var(--fw-light);
    }
    
    .name {
        font-size: var(--fs-18);
        font-weight: var(--fw-bold);
    }

    a[data-tag="new"]::before {
        content: "Nouveau";
        font-size: var(--fs-14); /* 14 pixels */

        color: var(--clr-txt-tag);
        background-color: var(--clr-accent-100);
    }
}

.name--large {
    font-family: 'Shrikhand', serif;
    font-size: var(--fs-28);
}