footer {
    a {
        font-weight: var(--fw-normal);
    }

    p {
        font-size: var(--fs-18);
        font-family: 'Shrikhand', serif;
    }

    .has-icon {
        font-weight: var(--fw-medium);
    }
}

