:root {
    --fs-40: 2.5rem;
    --fs-30: 1.875rem;
    --fs-28: 1.75rem;
    --fs-24: 1.5rem;
    --fs-18: 1.125rem;
    --fs-17: 1.0625rem;
    --fs-15: 0.9375rem;
    --fs-14: 0.875rem;

    --ff-accent: 'Shrikhand', serif;
    --ff-normal: 'Roboto', sans-serif;

    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}