* {
    box-sizing: border-box;
}

:root {
    /* TODO : revoir le nommage des variables */
    --fs-max: 1.875rem;
    --fs-larger: 1.75rem; /* 28px for 16px*/
    --fs-large: 1.5rem; /* 24 pixels for 16px */
    --fs-medium: 1.125rem; /* 18 pixels for 16px */
    --fs-medium-less: 1.0625rem; /* 17 pixels for 16px */
    --fs-normal-less: 0.9375rem; /* 15 pixels for 16 px */
}

body {
    margin: 0;
    /* font-weight le plus utilisé */
    font-weight: 500;
    /* font-family la plus utilisée*/
    font-family: 'Roboto', sans-serif;
}

a, a:visited, a:active {
    text-decoration-line: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
}

h1, h2 {
    margin: 0;
}

h1, h2 {
    /* font-size: var(--fs-large); */
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

label {
    cursor: pointer;
}

/* TODO : voir pourquoi ça ne fonctionne pas */
/* ol ::marker {
    background-color: #9356DC;
} */
.margin-block-balancer {
    --_margin-block-in: 0;
}

.margin-block-balancer * {
    margin-block: 0;
}

.margin-block-balancer > * + * {
    margin-top: var(--_margin-block-in);
}

.maxw-container {
    max-width: 1080px;
    margin-inline: auto;
}

.main-button {
    color: white;
    background-image: linear-gradient(0deg, #9356DC, #FF79DA);
    padding-block: 1em; /* ~ 50 pixels for 16 pixels font-size */
    border-radius: 2em;
    font-weight: inherit;
    font-size: inherit;
}

a.main-button {
    display: inline-block;
}

/* cette version pose des problèmes de spécificité */
/* ol.no-def-style,
ul.no-def-style {
    list-style-type: none;
    padding: 0;
    margin: 0;
} */

/* cette version ne pose plus de problèmes de spécificité dû à l'utilisation de la pseudo-classe :where */
ol:where(.no-def-style),
ul:where(.no-def-style) {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* SITE HEADER */
.site-header {
    /* font-family: 'Shrikhand', serif;
    font-size: var(--fs-max); */
    text-align: center;
    box-shadow: 0px 3px 4px #00000026;

    /* to display the box-shadow */
    position: relative;
    z-index: 1;
}

.site-header img {
    height: 275px;
}

.site-header .title {
    display: inline-block;
    margin: 0;
    padding-block: 0.55em; /* ~ 63 pixels for 30 pixels font-size */
    line-height: 1;
}

/* */
.site-header a {
    position: relative;

    display: inline-block;
    width: 100%;
    height: 100%;
}

.site-header .icon-box {
    position: absolute;
    left: 17px;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
}

/* MAIN HEADER */
.main-header {
    background-color: #F6F6F6;
    text-align: center;
}

#client-location {
    margin: 0;
    padding-block: 1em; /* ~ 50 pixels for 16 pixels font-size */
    background-color: #EAEAEA;
    text-align: center;
}

#client-location .icon {
    /* TODO : Revoir cette marge pour qu'elle rétrécisse en dessous de taille écran 375 px : idée > utiliser la fonction min() */
    margin-right: 1.0625em; /* ~ 17 pixels for 16 pixels font-size */
}

/* .main-header p {
    font-weight: 500;
} */

.main-header .block {
    width: 86%; /* ~ 315 pixels for 375px screen width */
    margin-inline: auto;
    padding-block-start: 42px;
    padding-block-end: 57px;
}

.main-header .block * {
    margin-block: 0;
}

.main-header .block * + * {
    margin-top: 25px;
}

.main-header .main-button {
    /* TODO : revoir cette méthode de calcul */
    padding-inline: 1.18em;
}

/* */
.main-header {
    position: relative;
}

.main-header .bottom-box {
    text-align: initial;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: inherit;
    border-top-left-radius: 1.6em;
    border-top-right-radius: 1.6em;
    padding-inline: 17px;
    padding-block-start: 32px;
}

.main-header .restaurant-name {
    /* font-family: 'Shrikhand', serif;
    font-size: var(--fs-larger); */
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .main-header .restaurant-name {
        max-width: max-content;
        margin-inline: auto;
        justify-content: normal;
    }

    .main-header .block {
        padding-block: 30px;
    }
}

.main-header .like-icon-trigger {
    padding-inline: 0.8em;
    /* for when the restaurant name become too long to fit on one line */
    align-self: end;
}

/*************************************************************************/

#fonctionnement {
    padding-inline: 5.3%;
    padding-block-start: 48px;
    padding-block-end: 68px;
}

#fonctionnement ol {
    margin-top: 26px;
    counter-reset: list-number;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    column-gap: 36px;
    /* in relation with the left position of the li::before below */
    margin-inline: 12px;
}



#fonctionnement li {
    counter-increment: list-number;
    position: relative;

    padding-block: 1.7em; /* ~ 73px for 1rem */

    background-color: #F6F6F6;
    /* font-weight: 500; */

    border-radius: 1.6em;
    box-shadow: 0px 4px 15px #00000026;

    display: flex;
    width: 100%;
}

#fonctionnement li::before {
    content: counter(list-number);
    position: absolute;
    width: 24px;
    height: 24px;
    color: #F6F6F6;
    background-color: #9356DC;
    border-radius: 50%;

    display: inline-block;
    text-align: center;
    line-height: 1.4;

    left: -12px;
    top: 1.6em;
}

#fonctionnement .icon-box {
    display: inline-block;
    min-width: 74px;
    text-align: center;
    color: #7E7E7E;
}

#fonctionnement li:last-of-type .icon {
    color: #9356DC;
}

#fonctionnement .text-box {
    white-space: nowrap;
}

/* facultatif pas demandé : cela dit il n'a pas été donné de taille minimale dans la documentation du projet */
@media (max-width: 319px) {
    #fonctionnement .icon-box {
        display: none;
    }
    #fonctionnement li {
        display: revert;
        padding-inline-start: 10%;
    }
}

@media (min-width: 1080px) {
    #fonctionnement {
        padding-block: 50px;
    }
    #fonctionnement ol {
        flex-direction: row;
        margin-inline: 0;
        margin-inline-start: 12px;
    }
    #fonctionnement li {
        max-width: 322px;
    }
}

/* RESTAURANTS */
#restaurants {
    background-color: #F6F6F6;
    padding-inline: 5.3%;
    padding-block-start: 54px;
    padding-block-end: 66px;
}

#restaurants .container {
    max-width: 1080px;
    margin-inline: auto;
}

#restaurants ul {
    margin-top: 24px;
    display: grid;
    gap: 18px;
}

#restaurants li {
    background-color: white;
    border-radius: 1.6em;
    overflow: hidden;

    /* c'est la largeur sur la maquette (version desktop) */
    width: 100%;
    margin-inline: auto;

    /* pour le positionnement du coeur et du tag optionnel « Nouveau » */
    position: relative;
}

#restaurants img {
    height: 174px;
}

#restaurants .margin-block-balancer {
    --_margin-block-in: 5px;
    padding: 1em;
}

#restaurants .name {
    font-size: var(--fs-medium);
    font-weight: 700;
}

#restaurants .location {
    font-size: var(--fs-medium-less);
    font-weight: 300;
}

a[data-tag="new"]::before {
    content: "Nouveau";
    position: absolute;
    color: #008766;
    background-color: #99E2D0;
    font-size: 0.875rem; /* 14 pixels */
    padding-block: 0.45em; /* ~ 29 px for 14px*/
    padding-inline: 0.9em; /* ~ 80 px for 14px */

    top: var(--fs-normal-less);
    right: var(--fs-normal-less);
}

/* TODO : augmenter la taille du trigger pour qu'il soit plus facile à toucher */
#restaurants .like-icon-trigger {
    position: absolute;
    bottom: 2em;
    right: 1em;
}

#restaurants .like-icon {
    width: 22px;
    height: 22px;
}

@media (min-width: 1080px) {
    #restaurants {
        /* padding-inline: 0; */
        padding-block: 30px;
    }

    #restaurants ul {
        grid-template-columns: 1fr 1fr;
        margin-top: 28px;
        column-gap: 100px;
        row-gap: 50px;
    }
}

footer {
    background-color: #353535;
    color: white;
    padding-inline: 25px;
    padding-block: 22px;
    /* font-weight: 400; */
}

footer p {
    font-size: var(--fs-medium);
    font-family: 'Shrikhand', serif;
    /* 
    NOTE : Shrikhand n'a qu'un niveau de graisse : 900
    La maquette indique une graisse de 400 je m'y conforme.
    */
    font-weight: 400;
    margin: 0;
    margin-bottom: 1em;
}

/* usage du sélecteur universel pour réduire la spécificité (voir @media) */
footer li + * {
    margin-block: 0;
    margin-top: 7px;
}

footer .icon {
    width: 11px;
    height: 13px;
    margin-right: 11px;
}

footer .icon + * {
    font-weight: 500;
}

@media (min-width: 1024px) {
    footer {
        display: flex;
        flex-direction: row-reverse;
        padding-block-start: 57px;
        padding-inline-end: 30px;
    }

    footer > * {
        align-self: center;
    }

    footer p {
        margin-bottom: 0;
    }

    footer ul {
        display: flex;
        margin-inline-end: 1.6em;
        gap: 1em;
    }

    footer li {
        margin-top: 0;
    }

    footer li:nth-child(2) {
        margin-inline-end: 1em;
    }
}

/**/
.menu {
    background-color: #F6F6F6;
    max-width: 1055px;
    margin-inline: auto;
}

form {
    padding-block: 40px;
}

fieldset + * {
    margin-block: 0;
    margin-block-start: 40px;
}

fieldset {
    border: none;
    /* alias de min-width */
    /* nécessaire pour que le text-overflow fonctionne */
    /* par défaut (sur Chrome) la valeur est min-content */
    min-inline-size: auto;
    /* reinitialise le padding-block car le navigateur en applique par défaut ce qui fausse notre espacement de 40px */
    padding-block: 0;
}

fieldset * + label {
    margin-block: 0;
    margin-top: 12px;
}

legend {
    text-transform: uppercase;
    /* font-weight: 300; */

    /* bon moyen d'annuler la petite marge « invisible » du dessous */
    /* attention : Current implementations in some browsers will remove from the accessibility tree any element with a display value of contents (but descendants will remain) */
    /* testé sur Firefox et Chrome sans problème d'accessibilité */
    display: contents;
}

legend::after {
    content: "";
    background-color: #99E2D0;

    display: block;
    width: 40px;
    height: 3px;

    margin-top: 5px; /* make legend total height = 27px */
}

form label {
    width: 100%;

    display: flex;
    justify-content: space-between;

    background-color: white;
    border-radius: 1em;

    overflow-x: hidden;

    box-shadow: 0px 4px 15px #00000026;
}

.dish-info {
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding-block: 12px;
    padding-inline: 15px;

    min-width: 0;
}

.dish-name {
    min-inline-size: 0;
}

.dish-name span {
    display: block;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.dish-name span + span {
    /* font-weight: 300;
    font-size: var(--fs-normal-less); */
    margin-top: 5px;
}

.dish-price {
    align-self: end;
}

.custom-checkbox {
    width: 60px;

    align-self: stretch;
    display: grid;
    place-items: center;

    background-color: #99E2D0;

    margin-right: -60px;

    transition-duration: 500ms;
    transition-property: margin-right;
    transition-timing-function: cubic-bezier(.72,-0.4,.32,1);
}

input:checked ~ .custom-checkbox {
    margin-right: 0px;
}

.check-icon {
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    background-color: white;
    color: #99E2D0;
    display: grid;
    align-items: center;
    justify-content: center;
}

form > div {
    text-align: center;
}
form button {
    width: 186px;
}
