label.comp--like-icon {
    display: inline-block;
}

.comp--like-icon {
    --_icon-width: 22px;
    --_icon-height: 22px;

    /* background-color: rgba(0, 0, 255, 0.451); */

    label {
        display: inline-block;
    }

    .icon-box {
        position: relative;
        display: inline-block;
        /* height: var(--_icon-height); */
        /* background-color: rgba(255, 0, 0, 0.57); */
    }

    svg {
        display: block;
        width: var(--_icon-width);
        /* height: var(--_icon-height); */
        height: auto;
    }

    .color-fill {
        position: absolute;
        inset: 0;
        background-image: linear-gradient(transparent, transparent 50%, var(--clr-gradient-900) 50%, var(--clr-gradient-100));
        background-position-y: 0%;
        background-size: 100% 200%;
        clip-path: url(#heart-clip);
        z-index: 1;
        transition: background-position-y 1.618s;
    }

    input:checked + .color-fill {
        background-position-y: 100%;
    }
}