.main-button {
    color: var(--clr-neutral-100);
    background-image: linear-gradient(0deg, var(--clr-gradient-900), var(--clr-gradient-100));

    display: inline-block;
    padding-block: 1em; /* ~ 50 pixels for 16 pixels font-size */
    border-radius: 2em;

    box-shadow: 0 4px 10px var(--clr-boxshadow-25);
    filter: brightness(1);
}

/*
Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir.
L’ombre portée devra également être plus visible.
*/
.main-button:hover {
    box-shadow: 0 4px 15px var(--clr-boxshadow);
    filter: brightness(1.1);
}