.main-button {
    color: var(--clr-neutral-100);
    background-image: linear-gradient(0deg, var(--clr-gradient-900), var(--clr-gradient-100));

    display: inline-block;
    padding-block: 1em; /* ~ 50 pixels for 16 pixels font-size */
    border-radius: 2em;
}